<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Менеджеры</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <link href="{{ asset('css/manager.css') }}" rel="stylesheet"/>
</head>
<body>
<form>
    <div class="month-choice">
    <form action="/manager">
        <div style="display: inline-flex">
        <label>Месяц начала: </label>
        <input type="month" value="{{ start_month_str }}" name="start_month" placeholder="Выбрать месяц начала"></p>
        <label>Месяц конца: </label>
        <input type="month" value="{{ last_month_str }}" name="last_month" placeholder="Выбрать месяц конца" </p>
        <input type="submit" value="Показать">
        </div>
    </form>
    </div>
</form>
    <div style="margin-inline: auto; display: grid; width: 80%;">
        {% for manager in managers%}
        <div class="manager_card">
            <div class="column">
            <form action="/manager">
                <input type="number" step=0.01 name="comission" placeholder="Комиссионные (%)">
                <input type="hidden" name="id" value="{{ manager.id }}" placeholder="Комиссионные (%)">
                <input type="submit">
            </form>
            </div>
            <div class="table-content">
                <p1>{{ manager.fio }}<br></p1>
                <p2>Комиссионные: {{ manager.comission }}%<br></p2>
                {% for month in manager.monthes %}
                <div class="month">
                    <div class="final-amount"><p2>Месяц {{month.month}} отработал {{month.days}} дней</p2>
                    </div>
                <div style="display:flex;">
                    <table>
                        <tr>
                            <th>Заслуги</th>
                            <th>Дата</th>
                        </tr>
                        <tr>
                            {% for action in month.actions %}
                            <tr>
                                <td>{{ action.action }}</td>
                                <td>{{ action.date }}</td>
                            </tr>
                            {% endfor %}
                        </tr>
                    </table>
                    <table>
                            <tr>
                                <th>Начисление</th>
                                <th>Дата</th>
                            </tr>
                            {% for fb in month.fb %}
                                <tr>
                                    <td>{{ fb.amount }}</td>
                                    <td>{{ fb.date }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                </div>
                        <p2>Итог: {{ month.amount}} рублей<br></p2>
                </div>
                {% endfor %}
            </div>
            <div class="column">
                <form action="/manager">
                    <input type="number" required="required" name="amount" placeholder="Начисление (руб)">
                    <input type="date" required="required" name="date" placeholder="Дата">
                    <input type="hidden" name="id" value="{{ manager.id }}" placeholder="Комиссионные (%)">
                    <input type="submit" name="fine" style="background: #AA3333; color: white" value="Оштрафовать">
                    <input type="submit" name="premium" style="background: #1c7430; color: white"  value="Премировать">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>